<!doctype html>
<html lang="ru" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Хобби</title>
</head>
<h1>Коллекция</h1>
<body>
Коллекция капитана Флинта насчитывает тысячи резиновых уточек всех форм, размеров и цветов. Каждая из них имеет свою историю и уникальность, но среди них есть несколько особенно легендарных и редких моделей:
<br>
### 1. **Звездная Утка**
Эта утка сделана из особого материала, который светится в темноте, создавая иллюзию звёздного неба вокруг неё. Легенда гласит, что она была найдена капитаном на одной из древних планет, где обитали существа, способные управлять светом. Звездная Утка является символом удачи и защиты от космических бурь.
<br>
### 2. **Золотой Император**
Утка, покрытая настоящим золотом, символизирует богатство и власть. Она была подарена капитану одним из межгалактических императоров в знак уважения после того, как Флинт спас его жизнь в бою. Золотой Император считается самой ценной моделью в коллекции.
<br>
### 3. **Киборг-Утка**
Уникальная модель, созданная на основе технологий будущего. Киборг-Утка оснащена искусственным интеллектом и способна выполнять простые команды. Её корпус сделан из сверхпрочного сплава, а глаза светятся красным цветом. Капитан нашел её на обломках древнего космического корабля, принадлежавшего расе высокоразвитых роботов.
<br>
### 4. **Драконья Утка**
Модель, вдохновленная мифическими существами. У этой утки крылья дракона, чешуя и огненное дыхание. Говорят, что Драконья Утка обладает магической силой и может защищать своего владельца от любых опасностей. Капитан получил её в обмен на редкий артефакт у одного из древних драконов, живущих в глубинах космоса.
<br>
### 5. **Космическая Принцесса**
Самая изящная и красивая утка в коллекции. Её тело украшено звездами и лунным светом, а крылышки переливаются всеми цветами радуги. Космическая Принцесса была создана специально для капитана мастером-волшебником, который жил на планете, известной своим искусством и красотой.
<br>
### 6. **Черный Ворон**
Мрачная и загадочная утка, сделанная из черного обсидиана. Черный Ворон считается талисманом темных сил и приносит удачу в самых опасных ситуациях. Капитан нашел её в древней гробнице, охраняемой духами предков.
<br>
### 7. **Метеоритная Утка**
Единственная в своем роде утка, полностью состоящая из метеоритного железа. Она невероятно тяжелая и прочная, способная выдержать любые удары судьбы. Метеоритная Утка была найдена капитаном на астероиде, где он чуть не погиб в результате столкновения с другим кораблем.
<br>
Каждая из этих моделей занимает особое место в сердце капитана Флинта и представляет собой часть его удивительной жизни, полной приключений и открытий.
<br>
<a th:href="@{/}">На главную</a>
</body>
</html>