<!doctype html>
<html lang="ru" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Главная</title>
</head>
<h1>Блог</h1>
<body>
Капитан Флинт, старый космический пират, когда-то наводил ужас на галактические торговые пути. Его легендарный корабль «Звёздная акула» был известен своей скоростью и хитроумными ловушками для противников. Однако мало кто знал о тайной страсти капитана – коллекционировании резиновых уточек.

В юности Флинт случайно нашёл первую утку на заброшенной космической станции и с тех пор не мог остановиться. В каждом уголке галактики он находил новые экземпляры, добавляя их к своей коллекции. Со временем она стала настолько большой, что ему пришлось спрятать её на Земле, в секретном бункере под старым маяком.

Теперь капитан редко выходит в космос, предпочитая проводить дни, ухаживая за своими драгоценными уточками. Он знает каждую из них по имени и часто рассказывает им истории своих приключений. Несмотря на свой возраст, Флинт всё ещё хранит в сердце мечту о новых открытиях и пополнении своей уникальной <a th:href="@{/hobby}">коллекции</a>.
</body>
<h4>Сержант Уточкин</h4>
</html>